<div class="contact-container" [ngClass]="{ 'after-submit': submitted }">
    <div class="form-container" [ngClass]="{ 'submitted': submitted }">
        <div class="lang-switch-top-right">
            <mat-slide-toggle color="primary" [checked]="selectedLang === 'te'"
                (change)="switchLang($event.checked ? 'te' : 'en')">
                <!-- {{ selectedLang === 'te' ? 'తెలుగు' : 'English' }} -->
            </mat-slide-toggle>
        </div>
        <h1>
            <img style="width: 60px;height: 60px;" src="./assets/images/olp-logo.png" alt="Logo" loading="lazy" />
        </h1>
        <p class="subtitle">{{ 'CONTACT_FORM.SUBTITLE' | translate }}</p>

        <form [formGroup]="contactForm" class="contact-form">
            <div class="form-row">
                <mat-form-field>
                    <mat-label>{{ 'CONTACT_FORM.BRIDE_GROOM' | translate }}</mat-label>
                    <input matInput formControlName="firstName" />
                    <mat-error *ngIf="contactForm.get('firstName')?.hasError('required')">
                        {{ 'CONTACT_FORM.ERROR.BRIDE_GROOM_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="contactForm.get('firstName')?.hasError('invalidFormat') && !contactForm.get('firstName')?.hasError('required')">
                        {{ 'CONTACT_FORM.ERROR.BRIDE_GROOM_FORMAT' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'CONTACT_FORM.PHONE' | translate }}</mat-label>
                    <input matInput formControlName="phone" type="tel" />
                    <mat-error *ngIf="contactForm.get('phone')?.hasError('required')">
                        {{ 'CONTACT_FORM.ERROR.PHONE_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('phone')?.hasError('pattern')">
                        {{ 'CONTACT_FORM.ERROR.PHONE_INVALID' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'CONTACT_FORM.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email" type="email" />
                    <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
                        {{ 'CONTACT_FORM.ERROR.EMAIL_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
                        {{ 'CONTACT_FORM.ERROR.EMAIL_INVALID' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ 'CONTACT_FORM.LOCATION' | translate }}</mat-label>
                    <input matInput formControlName="location" />
                    <mat-error *ngIf="contactForm.get('location')?.hasError('required')">
                        {{ 'CONTACT_FORM.ERROR.LOCATION_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field>
                    <mat-label>{{ 'CONTACT_FORM.MESSAGE' | translate }}</mat-label>
                    <textarea matInput formControlName="message" rows="2"></textarea>
                    <mat-hint align="end">{{ contactForm.get('message')?.value?.length || 0 }}/500</mat-hint>
                    <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
                        {{ 'CONTACT_FORM.ERROR.MESSAGE_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-row">
                <div class="full-width">
                    <label style="margin-left: 10px;">{{ 'CONTACT_FORM.INTERESTED' | translate }}</label>
                    <div formGroupName="preShoot" class="checkbox-group">
                        <ng-container *ngIf="!isLoadingEvents; else skeletonLoader">
                            <ng-container *ngFor="let event of olpEventsLists; trackBy: trackByEvent">
                                <mat-checkbox *ngIf="event?.value" [formControlName]="event.value">
                                    {{ ('EVENTS.' + event.EventName) | translate:undefined:event.EventName }}
                                </mat-checkbox>
                            </ng-container>
                        </ng-container>

                        <!-- Skeleton Loader Template -->
                        <ng-template #skeletonLoader>
                            <div *ngFor="let i of skeletonArray" class="skeleton-checkbox">
                                <mat-checkbox disabled>
                                    <mat-progress-spinner mode="indeterminate" diameter="20" strokeWidth="3"
                                        color="accent" class="spinner"></mat-progress-spinner>
                                </mat-checkbox>
                            </div>
                        </ng-template> 
                    </div>

                </div>

                <div class="full-width">
                    <label style="margin-left: 10px;">{{ 'CONTACT_FORM.SOURCE' | translate }}</label>
                    <div class="radio-group-wrapper">
                        <mat-radio-group formControlName="source" class="responsive-radio-group">
                            <mat-radio-button value="Referral"> {{ 'CONTACT_FORM.SOURCE_REFERRAL' | translate
                                }}</mat-radio-button>
                            <mat-radio-button value="SocialMedia">{{ 'CONTACT_FORM.SOURCE_SOCIALMEDIA' | translate
                                }}</mat-radio-button>
                            <mat-radio-button value="Others">{{ 'CONTACT_FORM.SOURCE_OTHERS' | translate
                                }}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

            <div class="camera-wrapper" *ngIf="contactForm.valid">
                <div id="camera" (click)="onSubmit()">
                    <div class="strip"></div>
                    <div class="lens"></div>
                    <div class="led"></div>
                    <div class="btn"><span class="button-click">OLP</span></div>
                </div>
            </div>
            <div class="submit-caption" *ngIf="contactForm.valid">
                {{ 'CONTACT_FORM.SUBMIT_NOTE' | translate }}
            </div>
        </form>
    </div>
</div>

<!-- Submitted message -->
<div class="camera-flash" *ngIf="submitted">
    <div class="container">
        <div class="confetti" *ngFor="let c of confettiArray; index as i"></div>
    </div>

    <div class="message-body">
        <div class="loader">
            <span>O</span><span>L</span><span>P</span>
        </div>
        <div class="container">
            <h1 class="type">{{ 'CONTACT_FORM.THANK_YOU_TITLE' | translate }}</h1>
            <h1>{{ 'CONTACT_FORM.THANK_YOU_SUB' | translate }}</h1>
        </div>
    </div>
</div>