<div class="contact-container" [ngClass]="{ 'after-submit': submitted }">
    <div class="form-container" [ngClass]="{ 'submitted': submitted }">
        <h1>
            <img style="width: 60px;height: 60px;" src="./assets/images/olp-logo.png" alt="Logo" />
        </h1>
        <p class="subtitle">
            Thank you for trusting us. Please provide us a couple of details to understand your requirements better.
        </p>

        <form [formGroup]="contactForm" class="contact-form">
            <div class="form-row">
                <mat-form-field>
                    <mat-label>Bride👸🏻 & Groom🤴🏻 </mat-label>
                    <input matInput formControlName="firstName" />
                    <mat-error *ngIf="contactForm.get('firstName')?.hasError('required')">
                        Bride & Groom Name is required
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('firstName')?.hasError('invalidFormat')">
                        Please enter in the format: Bride & Groom
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Your contact number</mat-label>
                    <input matInput formControlName="phone" type="tel" />
                    <mat-error *ngIf="contactForm.get('phone')?.hasError('required')">
                        Phone Number is required
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('phone')?.hasError('pattern')">
                        Please enter a valid 10-digit phone number
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" />
                    <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Venue / Location</mat-label>
                    <input matInput formControlName="location" />
                    <mat-error *ngIf="contactForm.get('location')?.hasError('required')">
                        Venue / Location is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field>
                    <mat-label>What do you have in mind</mat-label>
                    <textarea matInput formControlName="message" rows="4"></textarea>
                    <mat-hint align="end">{{ contactForm.get('message')?.value?.length || 0 }}/500</mat-hint>
                    <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
                        Please enter a message
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-row">
                <div class="full-width">
                    <label style="margin-left: 10px;">Are you interested?*</label>
                    <div formGroupName="preShoot" class="checkbox-group" style="margin-top: 10px;">
                        <ng-container *ngFor="let event of olpEventsLists">
                            <mat-checkbox *ngIf="event?.value" [formControlName]="event.value">
                                {{ event.EventName }}
                            </mat-checkbox>
                        </ng-container>
                    </div>
                </div>

                <div class="full-width">
                    <label style="margin-left: 10px;">How did you know about us?*</label>
                    <div class="radio-group-wrapper">
                        <mat-radio-group formControlName="source" class="responsive-radio-group">
                            <mat-radio-button value="Instagram">Instagram</mat-radio-button>
                            <mat-radio-button value="Facebook">Facebook</mat-radio-button>
                            <mat-radio-button value="Others">Others</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>


            </div>
            <div class="camera-wrapper" *ngIf="contactForm.valid">
                <div id="camera" (click)="onSubmit()">
                    <div class="strip"></div>
                    <div class="lens"></div>
                    <div class="led"></div>
                    <div class="btn"><span class="button-click">OLP</span></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="camera-flash" *ngIf="submitted">
    <div class="message-body">
        <div class="loader">
            <span>O</span>
            <span>L</span>
            <span>P</span>
        </div>
        <div class="container">
            <div>
                <h1 class="type">Thank you for choosing us!</h1>
                <h1>We will get back to you as early as possible.</h1>
            </div>
        </div>
        <ul>
            <li><a href="https://www.instagram.com/onelookphotography_/" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.facebook.com/OneLookPhotography.in/photos_by/" target="_blank"><i
                        class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/onelookphotography_/" target="_blank"><i
                        class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.instagram.com/onelookphotography_/" target="_blank"><i
                        class="fab fa-whatsapp"></i></a></li>
            <li><a href="http://www.youtube.com/@onelookphotographyarun3972" target="_blank"><i
                        class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</div>