

<body class="page">
  <nav class="nav page__nav">
    <h1 class="logo nav__logo"><a class="nav__link" href="#"><span class="nav__link-txt">OLP</span></a></h1>
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="#"><i class="fa-solid nav__link-icon fa-home"></i><span class="nav__link-txt">Home</span></a></li>
      <li class="nav__item"><a class="nav__link" href="#"><i class="fa-solid nav__link-icon fa-user"></i><span class="nav__link-txt">Users</span></a></li>
      <li class="nav__item"><a class="nav__link" href="#"><i class="fa-solid nav__link-icon fa-comment"></i><span class="nav__link-txt">Notifications</span></a></li>
      <ul class="nav__list nav__list_bottom">
        <li class="nav__item"><a class="nav__link" href="#">
            <div class="nav__link-img-box"><img class="nav__link-img" src="https://i.pravatar.cc/150?img=3" alt="" width="50" height="50"/></div><span class="nav__link-txt">Rajesh</span></a></li>
        <li class="nav__item" style="cursor: pointer;"><a class="nav__link" (click)="onLogout()"><i class="fa-solid nav__link-icon fa-right-from-bracket"></i><span class="nav__link-txt">LOGOUT</span></a></li>
      </ul>
    </ul>
  </nav>
  <main class="main page__main">
  <table mat-table [dataSource]="olpLists" class="mat-elevation-z8">

  <!-- S.No Column -->
  <ng-container matColumnDef="sno">
    <th mat-header-cell *matHeaderCellDef> S.No </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
  </ng-container>

  <!-- Bride Column -->
  <ng-container matColumnDef="bride">
    <th mat-header-cell *matHeaderCellDef> Bride </th>
    <td mat-cell *matCellDef="let element"> {{ element.Bride }} </td>
  </ng-container>

  <!-- Groom Column -->
  <ng-container matColumnDef="groom">
    <th mat-header-cell *matHeaderCellDef> Groom </th>
    <td mat-cell *matCellDef="let element"> {{ element.Groom }} </td>
  </ng-container>

  <!-- Contact Column -->
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef> Contact </th>
    <td mat-cell *matCellDef="let element"> {{ element.ContactNumber }} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{ element.Email }} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{ element.Status }} </td>
  </ng-container>

  <!-- Comments Column -->
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef> Comments </th>
    <td mat-cell *matCellDef="let element"> {{ element.comments }} </td>
  </ng-container>

   <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"><mat-icon>edit</mat-icon> </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  </main>
</body>