*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cr-white: 0, 0%, 100%;
  --cr-concrete: 0, 0%, 95%;
  --cr-firefly: 197, 37%, 16%;
}

.page {
  color: hsl(var(--cr-white));
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "nav main";
  min-height: 100vh;
  font-size: 1.025rem;
  font-family: "Poppins", sans-serif;
}
.page__nav {
  grid-area: nav;
}
.page__main {
  grid-area: main;
}

.logo {
  font-size: 1.5rem;
}

.nav {
  transition: width 220ms linear;
  color: white;
  background: black;
  position: relative;
  width: 3.125rem;
  overflow: hidden;
  box-shadow: 0.3em 0 0.3em rgba(0, 0, 0, 0.15);
}
.nav:hover {
  width: 18em;
}
.nav__logo {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.nav__list {
  font-size: 0.95rem;
}
.nav__list_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nav__item:hover {
  background: black;
}
.nav__link {
  color: inherit;
  display: flex;
  align-items: center;
  padding-block: 0.8em;
  text-decoration: 0;
}
.nav__link-img-box {
  margin-left: 9px;
  width: 2em;
}
.nav__link-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.nav__link-icon {
  padding-left: 16px;
}
.nav__link-txt {
  position: absolute;
  left: 3.125rem;
  width: max-content;
}

.main {
  padding: 2em;
}
.main__title {
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.main__desc {
  line-height: 1.5em;
}


